:root {
  --login-color: #2f7318;
  --login-footer-bg: #262626;
}
.app__login {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}
.app__login::-webkit-scrollbar {
  display: none;
}
.login__center {
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.login__container {
  height: 100%;
  width: 100%;
}
.login-logo-wrapper {
  display: block;
  display: flex;
  justify-content: center;
  padding: 70px 0;
}
.login-logo-wrapper img {
  width: 200px;
  height: 32px;
}
.login-btn,
.login-input {
  border-radius: 0;
  height: 47px;
  width: 552px;
}
.login-btn {
  background-color: #3e9920;
  color: var(--white-color);
  font-size: 1.8rem;
  letter-spacing: 0;
  font-weight: 400;
}
.login-btn-wrapper {
  padding: 10px 0;
}
.login-btn:hover {
  color: var(--white-color);
  background-color: #2f7318;
}
.login-btn:disabled {
  background-color: rgba(0, 0, 0, 0.2);
}
.login__header {
  padding: 32px 0;
  font-size: 3rem;
}
.login-input {
  transition: all 0.5s;
}
.login-input:focus {
  border: 1px solid var(--black-color);
  box-shadow: none;
}
.login-label {
  font-size: 1.6rem;
  padding: 5px 0;
}
.login__register-link {
  color: var(--login-color);
  margin: 0 5px;
  text-decoration: none;
}
.login__register-link:hover {
  text-decoration: underline;
  color: var(--login-color);
}
.login__register-link-wrapper {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
}
.login__newuser {
  font-size: 1.6rem;
  color: var(--black-color);
}

.login__footer {
  position: absolute;
  bottom: 0;
  height: 64px;
  width: 100%;
  background-color: var(--login-footer-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__footer a {
  text-decoration: none;
}
.login__footer-policy-link:hover {
  text-decoration: underline;
  color: var(--white-color);
}
.login__footer-author-name,
.login__footer-policy-link,
.login__footer-policy-span {
  font-size: 1.2rem;
  color: var(--white-color);
}
.login__footer-policy-link,
.login__footer-policy-span {
  margin: 0 2px;
}
@media only screen and (max-width: 63.9375em) {
  .login-form {
    width: 100%;
  }
  .login-input {
    width: 100%;
  }
  .login-btn {
    width: 100%;
  }
  .login__footer {
    flex-direction: column;
  }
  .uber__logo {
    width: 100%;
  }
  .uber__logo a {
    text-align: center;
  }
}
