.app__infor {
  display: flex;
  padding: 10px 0;
}
.app__icon {
  width: 56px;
  height: 56px;
}
.app__info {
  display: flex;
  align-items: center;
}
.app__text {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 20px;
}
.app__btn-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.center__app {
  display: flex;
  justify-content: center;
  padding: 20px 0 50px 0;
}
.center__app .app__info img {
  width: 80px;
  height: 80px;
}
.center__app .app__btn-wrapper {
  margin-left: 30px;
}
.iphone__icon-btn,
.android__icon-btn {
  padding: 10px;
  background-color: var(--btn-hover-color);
  font-size: 1.2rem;
  margin: 0 5px;
}
.android__icon {
  margin-left: 8px;
}
.iphone__icon-btn span,
.iphone__icon-btn span {
  margin-left: 5px;
}

.iphone__icon-btn span::first-letter,
.iphone__icon-btn span::first-letter {
  text-transform: uppercase;
}

.android__icon-btn svg,
.iphone__icon-btn svg {
  font-size: 1.6rem;
}
.android__icon-btn span {
  margin-left: 5px;
}
@media only screen and (max-width: 63.9375em) {
  .app__panel {
    flex-direction: column;
    align-items: center;
  }
  .center__app .app__btn-wrapper {
    margin: 10px 0;
    width: 100%;
  }
  .center__app .iphone__icon-btn {
    height: 60px;
    width: 100%;
    border-radius: 0;
  }
  .center__app .iphone__icon-btn svg {
    font-size: 1.8rem;
  }
  .center__app .iphone__icon-btn span {
    font-size: 1.8rem;
  }
  .center__app .app__info {
    width: 100%;
  }
  .center__app .app__text {
    font-size: 3rem;
    font-weight: 500;
  }
}
