.overlay {
  position: fixed; /* Sit on top of the page content */

  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  opacity: 0;
  transition: opacity 0.5s;
}
.asidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.open {
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.5s;
}
.showoff {
  transform: translateX(0);
  transition: transform 0.5s;
}
.asiderbar__container {
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.aside__btn {
  text-decoration: none;
  border-radius: 0;
  width: 100%;
  min-width: 100%;
}
.aside__btn a {
  text-decoration: none;
  color: var(--white-color);
}
.asidebar ul {
  margin: 0;
  padding: 0;
}
.asidebar li:first-child {
  padding-top: 20px;
}
.asidebar li {
  list-style: none;
  padding: 10px 0;
}
.asidebar a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
}
.asidebar__item a {
  color: var(--black-color);
}
@media only screen and (max-width: 63.9375em) {
}
