.footer {
  background-color: var(--black-color);
  width: 100%;
  min-height: 500px;
}
.footer__head {
  position: relative;
  height: 70%;
  border-bottom: 2px solid var(--white-color);
}
.footer__introduction {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 50px 0;
}
.app__download {
  position: absolute;
  bottom: 20px;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__item {
  padding: 8px 0;
}
.footer__header-link,
.footer__item-link {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.6rem;
}
.footer__header-link {
  font-weight: 500;
}
.footer__header-link:hover,
.footer__item-link:hover,
.footer__policy-link:hover,
.footer__heading-link:hover {
  text-decoration: underline;
  color: var(--white-color);
  font-size: 1.6rem;
}
.footer__linking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 50px 0;
}
.footer__logo-link {
  color: var(--white-color);
  font-size: 2rem;
  margin-right: 10px;
}
.footer__logo-link:hover {
  color: var(--white-color);
  font-size: 2rem;
  margin-right: 10px;
}
.footer__footer-heading {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}
.footer__policy-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.footer__policy-item {
  padding: 0 10px;
}
.footer__policy-link,
.footer__heading-link {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.6rem;
}
.footer__heading-privacy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.footer__heading-nolink,
.footer__author {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--white-color);
}

.footer__heading-text {
  padding: 0 10px;
}
@media only screen and (max-width: 63.9375em) {
  .footer__head,
  .footer__footer-heading,
  .footer__policy-list {
    flex-direction: column;
  }
  .footer__introduction {
    width: 100%;
  }
  .app__download {
    bottom: 10px;
  }
  .footer__linking {
    width: 100%;
  }
  .footer__policy-list li,
  .footer__heading-text {
    padding: 0;
  }
  .footer__heading-privacy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__author {
    margin-top: 14px;
  }
}
