.content__looking {
  position: relative;
  height: 100vh;
}
.content__banner {
  height: 100%;
}
.content__banner-left {
  position: relative;
}
.content__banner-left img {
  position: absolute;
  left: 0;
  right: 0;
}
.content__banner img {
  height: 100%;
}
.content__banner-right {
  display: flex;
  justify-content: flex-end;
}
.content__delivery {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content__delivery h1 {
  font-size: 5rem;
  color: var(--black-color);
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.delivery__form {
  display: flex;
  margin-top: 43px;
}
.delivery__location {
  width: 541px;
  height: 56px;
}
.delivery__time {
  position: relative;
  width: 191px;
  height: 56px;
  background-color: var(--white-color);
  margin-left: 8px;
}
.delivery__sign-in {
  margin-top: 25px;
  font-size: 1.6rem;
  font-weight: 500;
}
.delivery__sign-in a {
  color: var(--black-color);
}

.delivery__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.time-icon {
  font-size: 2rem;
  margin-left: 1.6rem;
}
.schedule-icon {
  font-size: 2.2rem;
  margin-left: 1.6rem;
}
.down-icon {
  font-size: 1.2rem;
  position: relative;
  top: 2px;
  right: 18px;
}
.delivery__time-label {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0 9px;
}

.delivery__time:hover .delivery__time-sub {
  display: block;
}
.delivery__time-sub {
  display: none;
  position: absolute;
  height: 200%;
  width: 100%;
  top: 100%;
}
.deliver__sub:hover {
  background-color: var(--btn-hover-color);
}
.deliver__sub {
  height: 50%;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}
.delivery__button {
  height: 56px;
}
.delivery__now-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .content__banner-center,
  .content__banner-right {
    display: none;
  }
}
@media only screen and (max-width: 63.9375em) {
  .delivery__form {
    flex-direction: column;
  }

  .content__banner {
    flex-wrap: nowrap;
  }
  .content__delivery h1 {
    font-size: 3.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .delivery__location,
  .delivery__time,
  .delivery__button {
    margin: 5px 0;
    width: 100%;
  }
  .content__delivery {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}

@media only screen and (max-width: 46.1875em) {
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}
