.map__wrapper {
  padding-top: 0 !important;
}
.map__countries-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.map__country {
  padding: 10px 0;
}
.map__country-link {
  font-size: 1.6rem;
  color: var(--black-color);
  text-decoration: none;
}
.map__country-link:hover {
  color: var(--black-color);
}
@media only screen and (max-width: 63.9375em) {
  .map__countries {
    padding-bottom: 2rem;
  }
}
