.section__brand-link {
  text-decoration: none;
  color: var(--black-color);
}
.section__brand-link:hover {
  color: var(--black-color);
}

.section__brand-header {
  font-weight: 700;
  font-size: 2.4rem;
}
.section__brand-label {
  text-decoration: underline;
  font-weight: 500;
  font-size: 1.4rem;
}
@media only screen and (max-width: 63.9375em) {
  .section__brand-header {
    margin-bottom: 0;
  }
  .section__brand-label {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 4rem;
  }
}
